.error{
    text-align: center;
}
.error h1{
    font-size: 60px;
    color: #ccc;
    margin-top: 80px;
    margin-bottom: 0;
}
.error p{
    font-size: 20px;
    font-family: inherit;
    color: gray;
}