.reviews-page{
    width: 90%;
    margin: 0 auto;
}
.reviews-page h1{
    font-weight: 400;
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    color: #353b48;
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 768px){
    .reviews-page h1 {
        font-size: 40px;
    }
    .reviews-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media only screen and (max-width: 660px){
    .reviews-page h1 {
        font-size: 35px;
    }
    .reviews-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}