.reviews-page{
    width: 90%;
    margin: 0 auto;
}
.reviews-page h1{
    font-weight: 400;
    margin-top: 50px;
    font-size: 45px;
    text-align: center;
    color: #353b48;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}