.review-items{
    border: 4px solid #abc7ff;
    border-radius: 0 40px 0 40px;
    background: #f1f5fb;
    padding: 15px 20px;
    margin: 20px 0;
    position: relative;
}
.customer{
    display: flex;
    align-items: center;
}
.customer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.rating-star {
    color: #ffbe18;
    font-size: 12px;
    left: 70px;
    position: absolute;
    top: 65px;
}
.review-items p{
    font-size: 15px;
    font-family: inherit;
    color: #353b48;
}