.home-section{
    width: 90%;
    margin: 0 auto;
}
/* -------------Header section--------------- */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.watch-info h1 {
    font-weight: 400;
    font-size: 45px;
    margin: 0;
    color: #353b48;
}
.w-name{
    color: #2D9687;
}
.watch-info p {
    font-size: 15px;
    font-family: inherit;
    color: #353b48;
}
.watch-img{
    text-align: right;
}
.watch-img img {
    width: 60%;
}
.btn-details{
    border: none;
    background: #353b48;
    color: #eee;
    margin-top: 20px;
    padding: 10px 15px;
    transition: .3s;
    cursor: pointer;
}
.btn-details:hover{
    background: #22262e;
}

/* --------------Reviews section--------------- */
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.reviews-section h1{
    font-weight: 400;
    font-size: 45px;
    margin: 20px;
    text-align: center;
    color: #353b48;
}

.btn-reviews{
    border: none;
    background: #353b48;
    color: #eee;
    margin-bottom: 20px;
    padding: 10px 15px;
    transition: .3s;
    cursor: pointer;
}
.btn-reviews:hover{
    background: #22262e;
}
#btn{
    text-align: center;
    margin: 20px 0;
}

/* tablet brackpoint */
@media only screen and (max-width: 768px) {
    .header-section {
        padding: 30px 0;
        padding-bottom: 50px;
    }
    .watch-img {
        width: 50%;
    }
    .watch-img img{
        width: 70%;
    }
    .reviews{
        grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  @media only screen and (max-width: 660px){
    .header-section{
        flex-direction: column-reverse;
    }
    .watch-img img {
        width: 100%;
        height: 200px;
    }
    .watch-info {
        width: 90% !important;
        margin: 10px auto !important;
    }
    .watch-info h1 {
        font-size: 30px !important;
    }
    .watch-info p {
        font-size: 13px !important;
    }

    .reviews-section h1 {
        font-size: 35px !important;
    }
    .reviews{
        grid-template-columns: repeat(1, 1fr) !important;
    }
  }